@import 'tailwindcss';
@import '@nuxt/ui';

:root {
  --ui-bg: var(--ui-color-neutral-300);
  --ui-bg-muted: var(--ui-color-neutral-200);
  --ui-bg-elevated: var(--ui-color-neutral-200);
  --ui-text: black;
  --ui-text-highlighted: black;
  --ui-text-toned: var(--ui-color-neutral-800);
  --ui-text-muted: var(--ui-color-neutral-700);
  --ui-border: var(--ui-color-neutral-300);
  --ui-border-muted: var(--ui-color-neutral-200);
  --ui-border-accented: var(--ui-color-neutral-400);
}

.dark {
  --ui-bg: var(--ui-color-neutral-950);
  --ui-bg-muted: var(--ui-color-neutral-900);
  --ui-bg-elevated: var(--ui-color-neutral-900);
  --ui-bg-accented: var(--ui-color-neutral-800);
  --ui-text: var(--ui-color-neutral-200);
  --ui-text-highlighted: white;
  --ui-text-toned: var(--ui-color-neutral-300);
  --ui-text-muted: var(--ui-color-neutral-400);
  --ui-border: var(--ui-color-neutral-800);
  --ui-border-muted: var(--ui-color-neutral-700);
  --ui-border-accented: var(--ui-color-neutral-700);
}

@layer base {
  body {
    @apply bg-default text-default;
  }

  button,
  [role='button'] {
    cursor: pointer;
  }
}
